upload_files/target
upload_files/.env
upload_files/Cargo.lock

download_srv/target
download_srv/Cargo.lock
download_srv/.env

utils/target
utils/Cargo.lock
utils/.env

auth/target
auth/Cargo.lock
auth/.env
